@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --medium-gray: #7d7d7d;
  --wheel-size: 200px;
  --dark-gradient: linear-gradient(212deg, #202022 38%, #434349 100%);
  --wheel-button-size: 72px;
  --wheel-button-color: #434349;
  --wheel-button-border-color: #202022;
  --wheel-button-hover-color: #58585e;
  --wheel-buttons-color: #d2d2d2;
  --wheel-buttons-hover-color: #fff;

  --header-height: 152px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-gradient: var(--dark-gradient);
  --color-wheel-button: var(--wheel-button-color);
  --color-wheel-button-border-color: var(--wheel-button-border-color);
  --color-wheel-button-hover: var(--wheel-button-hover-color);
  --color-wheel-buttons-color: var(--wheel-buttons-color);
  --color-wheel-buttons-hover-color: var(--wheel-buttons-hover-color);
  --color-medium-gray: var(--medium-gray);
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background-dark-gradient {
  background: var(--dark-gradient);
}

.project-title {
  @apply text-lg/6 md:text-2xl/8 font-medium;
}

.title-minor {
  @apply text-base/6;
}

.text-paragraph {
  @apply text-base/6 font-medium;
}
